<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Build Logs</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Build Logs</h1>
      <pre id="logs-container" style="white-space: pre-wrap">{{ logs }}</pre>
      <a href="{% url 'trigger_pipeline' %}" class="btn btn-primary"
        >Trigger Another Build</a
      >
    </div>
  </body>
</html>
